body{
    background-image: url('food.jpg');
    background-size: 1650px;
}
.img{
    width: 220px;
    border-radius: 10px;
    border: 2px solid black;
}
h5{
    color: white;
}
.food{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}
input{
    width: 25rem;
    background-color: rgb(70,44,44);
    border: none;
    color: white;
    padding: 4px;
    border-radius: 10px;
}
input::placeholder{
    color: white;
    padding: 10px ;
    font-weight: bold;
}
input:focus{
   outline: none;
}
button{
    font-weight: bold !important;
}